html,body,table,th,td,div,span,input,select,textarea,ul,li,dl,dt,dd,form,p,hr,img,h4{
	padding:0;
	margin:0;
}
img{
	border:0;
	vertical-align: bottom; 
}
html,body{
	width:100%;
	font-family:ËÎÌå£¬Verdana, Geneva, sans-serif;
}
a{color:#333; text-decoration:none;}
a:hover{color:#0000ff;text-decoration:underline;}

.bDiv a{color:blue; text-decoration:underline;}
.bDiv a:hover{color:blue; text-decoration:none;}
.mainbg-img{
	text-align:center;
}
.crumb{
	font-size:16px;
	color:#4A4A4A;
	text-align:left;
	position:relative;
	margin:4px 10px;
	font-family:"Î¢ÈíÑÅºÚ";
}
.crumb font{
	font-size:16px;
	margin:0 4px 0 5px;
}
.crumb a{
	font-weight:normal;
	color:#333;
	margin:0 4px 0 5px;
}
.crumb a:hover{
	color:#0000ff;
}
.error-out{
	position:relative;
	height:400px;
	margin:0 10px;
	text-align:left;
	padding:3px 0 0 8px;
	/*background:url(../images/toolbar-l.jpg) no-repeat left top;*/
	background-color:#F7F7F7;
}
.error-out table4{
	position:relative;
	line-height:220%;
	text-align:left;
	padding:0 8px;
	vertical-align:top;
	font-family:"Î¢ÈíÑÅºÚ";
	
}
.error-out tdtext-b{
	display:inline;
	font-size:16px;
	margin:5px;
	font-family:"Î¢ÈíÑÅºÚ";
	
}
.toolbar{
	position:relative;
	height:30px;
	margin:0 10px;
	text-align:right;
	padding:3px 0 0 8px;
	/*background:url(../images/toolbar-l.jpg) no-repeat left top;*/
	background-color:#F7F7F7;
}
.toolbar-end{
	display:block;
	position:absolute;
	top:0;
	right:0;
	height:30px;
	width:7px;
	/*background:url(../images/toolbar-r.jpg) no-repeat right top;*/
	background-color:#F7F7F7;
}
.btn-add{
	background:url(../images/btn-add-icon.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:60px;
	padding-left:16px;
	cursor:pointer;
}
.btn-add:hover{
	background:url(../images/btn-add.jpg) no-repeat left top;
}
.btn-add-batch{
	background:url(../images/btn-add-b-icon.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:85px;
	padding-left:16px;
	cursor:pointer;
}
.btn-add-batch:hover{
	background:url(../images/btn-add-b.jpg) no-repeat left top;
}
.btn-edit{
	background:url(../images/btn-edit-icon.gif) no-repeat left top;
	border:none;
	line-height:16px;
	padding:1px 1px 1px 18px ;
}
.btn-edit:hover{
	color:#F00;
}
.btn-del{
	background:url(../images/btn-del-icon.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:60px;
	padding-left:16px;
	cursor:pointer;
}
.btn-del:hover{
	background:url(../images/btn-del.jpg) no-repeat left top;
}
.btn-a{
	background:url(../images/btn1-bg.jpg) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:41px;
	cursor:pointer;
}
.btn-search4{
	background:url(../images/button_s.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:85px;
	padding-left:8px;
	cursor:pointer;
}
.btn-search2{
	background:url(../images/button_s.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:85px;
	padding-left:8px;
	font-size:16px;
	font-family:"Î¢ÈíÑÅºÚ";
	cursor:pointer;
}
.btn-search6:hover{
	background:url(../images/button_h.gif) no-repeat left top;
}
.btn-search6{
	background:url(../images/button_s.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:85px;
	padding-left:8px;
	cursor:pointer;
	font-size:16px;
	font-family:"Î¢ÈíÑÅºÚ";
}
.btn-search2:hover{
	background:url(../images/button_h.gif) no-repeat left top;
}
.btn-search3{
	background:url(../images/btn-search3.gif) no-repeat right top;
	border:none;
	height:24px;
	line-height:25px;
	width:80px;
	padding-left:8px;
	cursor:pointer;
}
.btn-search3:hover{
	background:url(../images/btn-search3-h.gif) no-repeat left top;
}
.btn-simple{
	background:url(../images/btn-simple.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:80px;
	text-align:center;
	cursor:pointer;
}
.btn-simple-l{
	background:url(../images/btn-simple-100.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:100px;
	text-align:center;
	cursor:pointer;
}
.btn-backlist{
	background:url(../images/btn-backlist.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:83px;
	padding-left:18px;
	cursor:pointer;
}
.btn-backlist:hover{
	background:url(../images/btn-backlist-h.gif) no-repeat left top;
}
.btn-canel{
	background:url(../images/button_s.gif) no-repeat right top;
	border:none;
	height:25px;
	line-height:25px;
	width:86px;
	padding-left:8px;
	cursor:pointer;
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:16px;
}
.btn-canel:hover{
	background:url(../images/button_h.gif) no-repeat left top;
}
.btn-ok{
	background:url(../images/button_s.gif) no-repeat right top;
	border:none;
	height:25px;
	line-height:25px;
	width:86px;
	padding-left:8px;
	cursor:pointer;
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:16px;
}
.btn-ok:hover{
	background:url(../images/button_h.gif) no-repeat left top;
}
.btn-canel2{
	background:url(../images/btn-del-icon2.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:60px;
	padding-left:16px;
	cursor:pointer;
}
.btn-canel2:hover{
	background:url(../images/btn-del.jpg) no-repeat left top;
}
.btn-ok2{
	background:url(../images/btn-ok-icon.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:60px;
	padding-left:16px;
	cursor:pointer;
}
.btn-ok2:hover{
	background:url(../images/btn-ok2.gif) no-repeat left top;
}
.int-search{
	width:140px;
	height:18px;
	line-height:18px;
	border:1px solid #8cb0c6;
	text-indent:19px;
	margin:2px 0;
	color:#333;
	background:#fff url(../images/int-search-icon.gif) no-repeat left top;
}
.offline{
	position:relative;
	top:-5px;
	margin:0 6px;
}
.table-contain{
	margin:0 10px;
	position:relative;
}
.caption-a{
	position:relative;
	height:29px;
	line-height:34px;
	font-size:16px;
	text-align:left;
	font-weight:bold;
	font-family:"Î¢ÈíÑÅºÚ";
	color:#4A4A4A;
	/*background:url(../images/th1_r.gif) no-repeat right top;*/
	background-color:#f0f0f0;
	overflow:hidden;
	border-bottom:1px solid #707070;
}
.caption-a span{
	position: absolute;
	top: 0;
	left: 0;
	height: 29px;
	text-align: left;
	text-indent: 28px;
	background: url(../images/th1_l.gif) no-repeat left top;
	width: 107px;
}
.btn-adv{
	position:absolute;
	top:4px;
	left:70px;
	background:url(../images/btn-search-icon.gif) no-repeat right top;
	border:none;
	height:24px;
	font-weight:normal;
	line-height:25px;
	width:85px;
	color:#3b84a8;
	padding-right:8px;
	padding-left:7px;
	cursor:pointer;
}
.btn-adv:hover{
	color:#1e678d;
	text-decoration:none;
	background:url(../images/btn-search.gif) no-repeat right top;
}
.btn-close{
	position:absolute;
	top:5px;
	right:6px;
	border:none;
	height:20px;
	width:20px;
	background:url(../images/btn-close.gif);
	cursor:pointer;
}
.btn-open{
	position:absolute;
	top:5px;
	right:6px;
	border:none;
	height:20px;
	width:20px;
	background:url(../images/btn-open.gif);
	cursor:pointer;
}
.search-mod{
	background:#F7F7F7;
	border-left:1px solid #F0F0F0;
	border-right:1px solid #F0F0F0;
	border-bottom:1px solid #F0F0F0;
	font-family:"Î¢ÈíÑÅºÚ";
}
.tab-out{
	height:254px;
	overflow-y:auto;
	overflow-x:hidden;
	border:1px solid #69adce;
	border-bottom:1px solid #b3d7f8
}
.table-a{
	width:100%;
	background:#ffffff;
	line-height:200%;
	font-size:12px;
}
.table-a th{
	font-size:12px;
	color:#fff;
	line-height:220%;
	border-right:1px solid #7aa9c2;
	border-bottom:1px solid #7aa9c2;
	border-top:1px solid #7aa9c2;
	background:#8ebed7;
	text-align:center;
}
.table-a tr{
	background-color:expression('#ffffff,#f3f3f3'.split(',')[rowIndex%2]);
}
.table-a td{
	border-right:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
}
<!------ÐÂÔöÑùÊ½ ------------->
.text-mod{
	background:#F7F7F7;
	border-left:1px solid #F0F0F0;
	border-right:1px solid #F0F0F0;
	border-bottom:1px solid #F0F0F0;
	font-family:"Î¢ÈíÑÅºÚ";
}
.text-a{
	position:relative;
	height:29px;
	line-height:34px;
	font-size:16px;
	text-align:left;
	font-weight:bold;
	font-family:"Î¢ÈíÑÅºÚ";
	color:#4A4A4A;
	overflow:hidden;
	border-bottom:0px;
}
.text-a span{
	position: absolute;
	top: 0;
	left: 0;
	height: 29px;
	text-align: left;
	text-indent: 28px;
	width: 500px;
}
.text-textarea{
	background-color:#F8F8FF;
	width:600px;
	height:400px;
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:16px;
	
}

<!-----------½áÊø---------->
.catalog{
	position:absolute;
	text-align:left;
	font-size:12px;
	top:6px;
	left:8px;
}
.catalog span{
	margin-left:6px;
	height:21px;
	position:relative;
	top:-2px;
	top:-6px\9;
	*top:-2px;
	_top:-2px;
}
.input-num{
	width:24px;
	height:16px;
	font-size:12px;
	border:1px solid #7fb6c1;
	margin:0 3px;
}
.btn-frist{
	background:url(../images/btn-frist.gif) no-repeat left top;
	height:21px;
	width:21px;
	border:none;
	cursor:pointer;
}
.btn-back{
	background:url(../images/btn-back.gif) no-repeat left top;
	height:21px;
	width:21px;
	border:none;
	cursor:pointer;
}
.btn-next{
	background:url(../images/btn-next.gif) no-repeat left top;
	height:21px;
	width:21px;
	border:none;
	cursor:pointer;
}
.btn-last{
	background:url(../images/btn-last.gif) no-repeat left top;
	height:21px;
	width:21px;
	border:none;
	cursor:pointer;
}
.btn-go{
	background:url(../images/btn-go.gif) no-repeat left top;
	height:21px;
	width:40px;
	border:none;
	color:#1f6a7c;
	cursor:pointer;
	position:relative;
	top:-7px\9;
	*top:0;
	_top:0;
}
.search-txt,.search-txt2{
	position:relative;
	font-size:12px;
	text-align:left;
	color:#333;
	line-height:160%;
	padding-left:18px;
}
.search-txt img,.search-txt2 img{
	position:absolute;
	top:-3px;
	left:-2px;
	*left:-2px;
	_left:-20px;
}
.adv-search{
	margin:0 10px;
	padding:4px 10px;
	text-align:left;
	background:#effaff;
	border:8px solid #d5f2ff;
}
.top-search,.tab-mod,.common-mod{
	margin:5px 10px;
	text-align:left;
	border:1px solid #707070;
}
.table-b{
	display:inline;
	font-size:16px;
	margin:5px;
	font-family:"Î¢ÈíÑÅºÚ";
}
.table-b td{
	position:relative;
	line-height:220%;
	text-align:left;
	padding:0 8px;
	vertical-align:top;
}
.table-b td select{
	position:relative;
	top:1px;
	width:132px;
	font-size:16px;
	font-family:"Î¢ÈíÑÅºÚ";
}
.table-b td.intxt-td{
	text-align:right;
	background-color:#f0f0f0;
	border-right:none;
	padding-right:0;
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:16px;
}

.int-a{
	border:1px solid #8A8A8A;
	height:30px;
	width:150px;
	font-size:16px;
	line-height:20px;
	padding-left:3px;
	margin:2px 0;
	background:#FFF;
	font-family:"Î¢ÈíÑÅºÚ";
}
.int-a-s{
	border:1px solid #79b8d7;
	height:18px;
	width:40px;
	font-size:12px;
	line-height:18px;
	padding-left:3px;
	margin:2px 0;
	background:#fff;
}	
.search-bar{
	position:relative;
	margin:0 10px 8px 10px;
	padding-bottom:8px;
	background:#d5f2ff url(../images/search-bar-r.jpg) no-repeat right bottom;
}
.search-bar .left-bg{
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	height:33px;
	width:10px;
	background:#d5f2ff  url(../images/search-bar-l.jpg) no-repeat left bottom;
}
.search-bar hr{
	margin:0 0 6px 0;
	*margin:0px 0 0 0;
	_margin:-7px 0 0 0;
	float:left;
	height:2px;
	color:#a8d5ea;
	border-bottom:1px solid #f2fbff;
}
.thickbox-out{
	padding:15px 0;
}
.add-contain{
	margin:0 auto;
	background:url(../images/th2-r.gif) no-repeat right top;
}
.th2{
	position:relative;
	height:72px;
	background:url(../images/th2-l.gif) no-repeat left top;
}
.th2 h3{
	position:absolute;
	bottom:10px;
	left:9px;
	background:url(../images/btn-add-icon.gif) no-repeat left top;
	text-align:left;
	font-size:15px;
	color:#333;
	line-height:23px;
	text-indent:26px;
}
.th2 h4{
	position:absolute;
	bottom:6px;
	left:-8px;
	text-align:left;
	font-size:12px;
	font-weight:normal;
	line-height:24px;
	text-indent:24px;
}
.th2 h5{
	position:absolute;
	bottom:6px;
	left:-8px;
	text-align:left;
	font-size:14px;
	line-height:24px;
	text-indent:24px;
}
.th2 img{
	position:absolute;
	top:0;
	right:24px;
}
.tabc-contain{
	border-left:1px solid #c4dfea;
	border-right:1px solid #c4dfea;
	text-align:left;
	background:#fff url(../images/th2-l-b.jpg) no-repeat left top;
	padding:0 15px 10px 15px;
}
.tabc-contain p{
	margin:15px 0;
	font-size:12px;	
	text-indent:2em;
	line-height:180%;
	text-align:justify;
    text-justify:inter-ideograph;
}
.table-c{
	width:100%;
	font-size:16px;
	border-top:2px solid #707070;
	font-family:"Î¢ÈíÑÅºÚ";
	border:1px solid #707070;
	background:#fff;
}
.table-c th{
	border-bottom:1px solid #b8e1f0;
	font-size:12px;
	font-weight:normal;
	line-height:220%;
	text-indent:6px;
	color:#144279;
	text-align:left;
}
.table-c td{
	line-height:220%;
	text-align:left;
	border-bottom:1px solid #707070;
	padding:0 6px;
	vertical-align:top;
	font-family:"Î¢ÈíÑÅºÚ";
	background-color:#F0F0F0;
}
.table-c td.intxt-td{
	text-align:right;
	background:#F0f0f0;
	border-right:1px solid #707070;
}
.table-c textarea{
	border:1px solid #707070;
	line-height:160%;
	padding-left:3px;
	margin:2px 0;
}
.table-c select{
	border:1px solid #707070;
	line-height:160%;
	padding-left:3px;
	margin:2px 0;
	font-family:"Î¢ÈíÑÅºÚ";
}
.redtxt{
	font-size:16px;
	color:#F00;
	margin:0 4px;
}
.tabc-inputbar{
	position:relative;
	height:45px;
	padding:0 15px;
	text-align:center;
	background:url(../images/tabc-inputbar-r.jpg) no-repeat right bottom;
}
.tabc-inputbar hr{
	height:0;
	border:1px solid #cae3ef;
	*border:2px solid #cae3ef;
	_border:2px solid #cae3ef;
	margin-bottom:2px;
}
.tabc-inputbar-l{
	display:block;
	position:absolute;
	bottom:0;
	*bottom:0;
	_bottom:-1px;
	left:0;
	height:45px;
	width:40px;
	background:url(../images/tabc-inputbar-l.jpg) no-repeat left bottom;
}
#tree-contain{
	width:100%;
	position:relative;
}
.treepage-l{
	position:absolute;
	top:0;
	left:10px;
	width:210px;
	text-align:left;
	background:#d2edf9 url(../images/treecir-top.jpg) no-repeat left top;
}
.treepage-l2{
	position:absolute;
	top:0;
	left:10px;
	width:155px;
	text-align:left;
	background:#d2edf9 url(../images/treecir-top.jpg) no-repeat left top;
}
.treepage-r{
	margin:0 0 0 220px;
}
.treepage-r2{
	margin:0 0 0 160px;
}
.tree-search{
	text-align:left;
	border:1px solid #79b8d7;
	border-bottom-color:#a4d0e6;
	padding:5px 6px;
}
.tree-contain{
	text-align:left;
	border:1px solid #79b8d7;
	border-top-color:#eefaff;
	padding:5px 6px;
}
#Tabbar{
	position:relative;
	height:30px;
	font-size:12px;
	text-align:left;
	background:url(../images/tab-bg-r.jpg) no-repeat right top;
	overflow:hidden;
}
#Tabbar span{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:7px;
	height:30px;
	text-align:left;
	background:url(../images/tab-bg-l.jpg) no-repeat left top;
}
.Tablist{
	position:absolute;
	bottom:0;
	font-size:12px;
	overflow:hidden;
	list-style:none;
	padding-left:8px;
}
.Tablist li{
	display:block;
	float:left;
	height:24px;
	margin-right:2px;
	background:url(../images/tabbtn-r.jpg) no-repeat right bottom;

}
.Tablist li a{
	color:#555;
	text-decoration:none;
	line-height:26px;
	padding:5px 12px 3px 12px;
	background:url(../images/tabbtn-l.jpg) no-repeat left bottom;
}
.Tablist li a:hover{
	color:#0066cc;
}
.Tablist li.hot{
	display:block;
	float:left;
	height:24px;
	margin-right:2px;
	background:#C00 url(../images/tabbtn-hot-r.jpg) no-repeat right bottom;
}
.Tablist li.hot a{
	color:#1f678d;
	font-weight:bold;
	text-decoration:none;
	line-height:24px;
	padding:6px 12px 4px 12px;
	background:url(../images/tabbtn-hot-l.jpg) no-repeat left bottom;
}
#Tabbar2{
	position:relative;
	height:24px;
	font-size:12px;
	text-align:left;
	overflow:hidden;
	margin-bottom:3px;
	background:url(../images/point-a.jpg) repeat-x left bottom;
}
.Tablist2{
	position:absolute;
	bottom:0;
	left:0;
	font-size:12px;
	overflow:hidden;
	list-style:none;
}
.Tablist2 li{
	display:block;
	float:left;
	height:24px;
	margin-right:2px;
	background:url(../images/tabbtn2-r.jpg) no-repeat right bottom;

}
.Tablist2 li a{
	color:#555;
	text-decoration:none;
	line-height:26px;
	padding:5px 12px 3px 12px;
	background:url(../images/tabbtn2-l.jpg) no-repeat left bottom;
}
.Tablist2 li a:hover{
	color:#0066cc;
}
.Tablist2 li.hot{
	display:block;
	float:left;
	height:24px;
	margin-right:2px;
	background:#C00 url(../images/tabbtn2-hot-r.jpg) no-repeat right bottom;
}
.Tablist2 li.hot a{
	color:#2987b6;
	font-weight:bold;
	text-decoration:none;
	line-height:24px;
	padding:6px 12px 4px 12px;
	background:url(../images/tabbtn2-hot-l.jpg) no-repeat left bottom;
}
.table-contain2{
	background:#def0fe;
	border-left:1px solid #79b8d7;
	border-right:1px solid #79b8d7;
	border-bottom:1px solid #c1deeb;
	padding:4px;
}
.table-contain2 td.intxt-td{
	text-align:right;
	background:#def0fe;
}
.table-contain2 td.title-td{
	text-align:center;
	background:#79b8d7;
}
.table-d{
	width:100%;
	font-size:12px;
	border:1px solid #b8e1f0;
	border-bottom:none;
	border-right:none;
	background:#fff;
}
.table-d th{
	border-bottom:1px solid #b8e1f0;
	font-size:12px;
	font-weight:normal;
	line-height:220%;
	text-indent:6px;
	color:#144279;
	text-align:left;
}
.table-d td{
	line-height:220%;
	text-align:left;
	border-bottom:1px solid #b8e1f0;
	border-right:1px solid #b8e1f0;
	padding:0 6px;
	vertical-align:top;
}
.table-d td.intxt-td{
	text-align:right;
	background:#def0fe;
}
.table-d textarea{
	border:1px solid #79b8d7;
	line-height:160%;
	padding-left:3px;
	margin:2px 0;
}
.table-d select{
	border:1px solid #79b8d7;
	line-height:160%;
	padding-left:3px;
	margin:2px 0;
}
.fileinput{
    width:280px;
    height:18px;
    border:1px solid #79b8d7;
    font-size:12px;
    line-height:18px;
    padding-left:3px;
    margin:2px 0;
    background:#fff;
    vertical-align:middle;
}
.showtext-a{
	font-size:14px;
	text-align:left;
	color:#1e678d;
}
.btn-backlist-h{
	background:url(../images/btn-backlist-h.gif) no-repeat left top;
	border:none;
	height:24px;
	line-height:25px;
	width:83px;
	padding-left:18px;
	cursor:pointer;
}
.advance{
	display: none;	
}
.list_btn{
	text-align:left;
	border:2px solid #79b8d7;
	background: #a4d0e6;
	font-size:13px;
	
}
.btn-min-add{
	background:url(../images/icons/btn-min-add.png) no-repeat left top;
	border:none;
	height:18px;
	width:18px;
	cursor:pointer;
}
.btn-min-del{
	background:url(../images/icons/btn-min-del.png) no-repeat left top;
	border:none;
	height:18px;
	width:18px;
	cursor:pointer;
}
.int-a-sel-list{
	border:1px solid #79b8d7;
	width:135px;
	font-size:12px;
	line-height:18px;
	padding-left:3px;
	margin:2px 0;
	background:#fff;
}
.int-a-sel-input{
	border:1px solid #79b8d7;
	height:18px;
	width:85px;
	font-size:12px;
	line-height:18px;
	padding-left:3px;
	margin:2px 0;
	background:#fff;
}
.table-stat-show{
	width:100%;
	font-size:12px;
	border:1px solid #b8e1f0;
	border-bottom:none;
	border-right:none;
	background:#fff;
}
.table-stat-show td{
	text-align:left;
	border-bottom:1px solid #b8e1f0;
	border-right:1px solid #b8e1f0;
	padding:0 1px;
	vertical-align:top;
}
.ANoColor:link {
	COLOR: #000000; TEXT-DECORATION: none;
}
.ANoColor:visited {
	COLOR: #000000; TEXT-DECORATION: none;
}
.ANoColor:hover {
	COLOR: #000000; TEXT-DECORATION: underline;
}
.ProgressBar {
    position: relative;
    border: 1px solid blue;
    padding: 1px;
}
.ProgressBar div {
    display: block;
    position: relative;
    color: #333333;
    height: 12px; /* ¸ß¶È */
}
.ProgressBar span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 92%;
    text-align: left;
    overflow: hidden;
	font-family: verdana, "tahoma,ËÎÌå";
    font-size: 11px;
    font-weight: bold;
}

.int-a-m{
    border:1px solid #79b8d7;
    height:18px;
    width:80px;
    font-size:12px;
    line-height:18px;
    padding-left:3px;
    margin:2px 0;
    background:#fff;
}
