#menu .item .top_menu_display {
	width: 1000px;
	background-color: #FAF6EF;
	position: absolute;
	left: 0px;
	right: 0px;
	display: none;
	z-index: 12;
	margin: 0 auto;
}

#menu .item .top_menu_display h3 {
	margin-left: 20px;
	margin-bottom: 0px;
}

#menu .hover {
	background-color: #FAF6EF;
}

#menu .hover .top_menu_display {
	display: block;
}

.top_product_element {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	width: 60px;
	height: 50px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.top_product_element a {
	color: #222E51;
}

#menu .item .second_menu_display {
	width: 1010px;
	background-color: #FFFFFF;
	position: absolute;
	left: 0px;
	right: 0px;
	display: none;
	z-index: 12;
	margin: 0 auto;
	border-color: #CDCCCC;
	border-style: dotted;
}

#menu .item .second_menu_display li.second_menu_title {
	float: left;
	clear: left;
}

#menu .top_product_click {
	background-color: #FFFFFF;
	border-color: #CDCCCC;
	border-style: dotted;
	z-index: 11;
}

#menu .top_product_click .second_menu_display {
	display: block;
}

.top_product_element li a {
	color: #267EF2;
}

.close_second_menu {
	position: absolute;
	top: 10px;
	right: 10px;
}